<router-outlet></router-outlet>
<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page"href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-" href="#">Link</a>
      </li>
      <li class="nav-item>">
        <a class="nav-link disabled" href="#" tabindex=" -1" aria-disabled="true">Disabled</a>
      </li>

      <body>

        <header>
          <nav>
          <a href="#">inicio</a>
          <a href="#">Acererca de</a>
          <a href="#">Portafolio</a>
          <a href="#">Servicio</a>
          <a href="#">inicio</a>
          <a href="#">Contacto</a>
        </nav>
        <section class="textos-hearder" >
          </section>
          
          <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #08f;"></path></svg></div>

        </header>
        <main>
          <section class="contenedor sobre-nosotros"></section>
          <h2 class="titulo">Nuestros productos</h2>
          <div class="contendor-sobre-nosotros"></div>
          <img src="img/Fondo.jpg" alt="" class="">
        </main>
      </body>  
  </ul>
</div>
