 <a class="btn btn-info" href="/">Inicio</a>
        <button class="btn btn-info" (click)="Servicios()" >Servicios</button>
        <button class="btn btn-info" (click)="sobreNosotros()" >Sobre nosotros</button>
        <button class="btn btn-info" (click)="Contacto()" >Contactos</button>
        <button class="btb btn-info" (click)="Vision()">Vision</button>

        <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-6.49,146.55 C149.99,150.00 271.49,-49.98 507.05,43.92 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgba(255, 132, 0, 0.842);"></path></svg></div>
         
        <div align="center" img src="assets/img/LogoCafepas">
   
      <body>

        <header>
          <nav>
        
        </nav>
        <section class="textos-hearder" >
          </section>


        </header>
        <main>
         <section class="contenedor sobre-nosotros"></section>
          <h2 class="titulo">Nuestros productos</h2>
          <div class="contendor-sobre-nosotros"></div>
          <h2 class="titulo" >Acerca de </h2>
         
          
        </main>
      </body>  
<div class="container">
  <router-outlet></router-outlet>
</div>

